gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
*.jks
*.keystore
key.properties
# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore

